.particleContainer {
  background: url("https://d14jjfgstdxsoz.cloudfront.net/assets/bg-header-star.jpg")
    center center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.particle-1 {
  animation: animParticle 60s linear infinite;
  box-shadow: 0px 0px rgba(255, 255, 255, 0.3),
    1544px 516px rgba(255, 255, 255, 0.3), 1896px 311px rgba(255, 255, 255, 0.3),
    950px 568px rgba(255, 255, 255, 0.3), 1926px 1415px rgba(255, 255, 255, 0.3),
    868px 203px rgba(255, 255, 255, 0.3), 446px 783px rgba(255, 255, 255, 0.3),
    1934px 1242px rgba(255, 255, 255, 0.3), 815px 537px rgba(255, 255, 255, 0.3),
    260px 174px rgba(255, 255, 255, 0.3), 567px 289px rgba(255, 255, 255, 0.3),
    1973px 1666px rgba(255, 255, 255, 0.3),
    1484px 753px rgba(255, 255, 255, 0.3),
    1002px 1638px rgba(255, 255, 255, 0.3),
    292px 1043px rgba(255, 255, 255, 0.3), 282px 1406px rgba(255, 255, 255, 0.3),
    152px 1969px rgba(255, 255, 255, 0.3),
    1544px 1377px rgba(255, 255, 255, 0.3),
    365px 1471px rgba(255, 255, 255, 0.3), 854px 171px rgba(255, 255, 255, 0.3),
    723px 1088px rgba(255, 255, 255, 0.3), 725px 246px rgba(255, 255, 255, 0.3),
    780px 941px rgba(255, 255, 255, 0.3), 1584px 461px rgba(255, 255, 255, 0.3),
    1833px 1128px rgba(255, 255, 255, 0.3), 163px 452px rgba(255, 255, 255, 0.3),
    400px 1320px rgba(255, 255, 255, 0.3), 491px 300px rgba(255, 255, 255, 0.3),
    1084px 587px rgba(255, 255, 255, 0.3),
    1541px 1467px rgba(255, 255, 255, 0.3),
    1389px 1104px rgba(255, 255, 255, 0.3),
    1099px 1849px rgba(255, 255, 255, 0.3),
    367px 1725px rgba(255, 255, 255, 0.3), 628px 788px rgba(255, 255, 255, 0.3),
    236px 1460px rgba(255, 255, 255, 0.3), 649px 298px rgba(255, 255, 255, 0.3),
    1531px 345px rgba(255, 255, 255, 0.3), 212px 693px rgba(255, 255, 255, 0.3),
    1685px 417px rgba(255, 255, 255, 0.3), 415px 1409px rgba(255, 255, 255, 0.3),
    1653px 954px rgba(255, 255, 255, 0.3),
    1126px 1597px rgba(255, 255, 255, 0.3), 276px 587px rgba(255, 255, 255, 0.3),
    836px 1145px rgba(255, 255, 255, 0.3), 175px 586px rgba(255, 255, 255, 0.3),
    193px 756px rgba(255, 255, 255, 0.3), 551px 1186px rgba(255, 255, 255, 0.3),
    686px 1910px rgba(255, 255, 255, 0.3), 1677px 926px rgba(255, 255, 255, 0.3),
    955px 1588px rgba(255, 255, 255, 0.3),
    1834px 1754px rgba(255, 255, 255, 0.3), 611px 186px rgba(255, 255, 255, 0.3),
    374px 1456px rgba(255, 255, 255, 0.3), 1515px 418px rgba(255, 255, 255, 0.3),
    1826px 76px rgba(255, 255, 255, 0.3), 1144px 680px rgba(255, 255, 255, 0.3),
    635px 846px rgba(255, 255, 255, 0.3), 823px 764px rgba(255, 255, 255, 0.3),
    1819px 1608px rgba(255, 255, 255, 0.3), 383px 595px rgba(255, 255, 255, 0.3),
    526px 1880px rgba(255, 255, 255, 0.3),
    1147px 1095px rgba(255, 255, 255, 0.3), 154px 319px rgba(255, 255, 255, 0.3),
    1046px 338px rgba(255, 255, 255, 0.3), 191px 176px rgba(255, 255, 255, 0.3),
    1477px 1549px rgba(255, 255, 255, 0.3),
    1442px 1292px rgba(255, 255, 255, 0.3),
    380px 1674px rgba(255, 255, 255, 0.3), 952px 215px rgba(255, 255, 255, 0.3),
    443px 964px rgba(255, 255, 255, 0.3), 1409px 1791px rgba(255, 255, 255, 0.3),
    1350px 176px rgba(255, 255, 255, 0.3), 1631px 867px rgba(255, 255, 255, 0.3),
    1584px 168px rgba(255, 255, 255, 0.3),
    1707px 1418px rgba(255, 255, 255, 0.3), 397px 334px rgba(255, 255, 255, 0.3),
    1034px 1728px rgba(255, 255, 255, 0.3), 901px 63px rgba(255, 255, 255, 0.3),
    264px 317px rgba(255, 255, 255, 0.3), 466px 1475px rgba(255, 255, 255, 0.3),
    989px 1919px rgba(255, 255, 255, 0.3), 742px 675px rgba(255, 255, 255, 0.3),
    456px 813px rgba(255, 255, 255, 0.3), 150px 1587px rgba(255, 255, 255, 0.3),
    1877px 10px rgba(255, 255, 255, 0.3), 1816px 1132px rgba(255, 255, 255, 0.3),
    1601px 1085px rgba(255, 255, 255, 0.3),
    1950px 706px rgba(255, 255, 255, 0.3), 362px 1329px rgba(255, 255, 255, 0.3),
    410px 831px rgba(255, 255, 255, 0.3), 1649px 1990px rgba(255, 255, 255, 0.3),
    1178px 1240px rgba(255, 255, 255, 0.3), 762px 471px rgba(255, 255, 255, 0.3),
    835px 343px rgba(255, 255, 255, 0.3), 523px 1269px rgba(255, 255, 255, 0.3),
    1678px 59px rgba(255, 255, 255, 0.3), 198px 1435px rgba(255, 255, 255, 0.3),
    178px 1641px rgba(255, 255, 255, 0.3), 71px 715px rgba(255, 255, 255, 0.3),
    571px 1826px rgba(255, 255, 255, 0.3),
    1511px 1060px rgba(255, 255, 255, 0.3),
    1893px 391px rgba(255, 255, 255, 0.3), 981px 173px rgba(255, 255, 255, 0.3),
    352px 473px rgba(255, 255, 255, 0.3), 402px 1748px rgba(255, 255, 255, 0.3),
    229px 1632px rgba(255, 255, 255, 0.3), 488px 69px rgba(255, 255, 255, 0.3),
    1963px 1657px rgba(255, 255, 255, 0.3),
    1441px 1107px rgba(255, 255, 255, 0.3),
    1740px 808px rgba(255, 255, 255, 0.3), 457px 541px rgba(255, 255, 255, 0.3),
    329px 682px rgba(255, 255, 255, 0.3), 580px 8px rgba(255, 255, 255, 0.3),
    851px 1814px rgba(255, 255, 255, 0.3),
    1165px 1961px rgba(255, 255, 255, 0.3),
    1034px 1038px rgba(255, 255, 255, 0.3),
    1905px 1081px rgba(255, 255, 255, 0.3),
    1840px 1220px rgba(255, 255, 255, 0.3),
    1415px 1779px rgba(255, 255, 255, 0.3),
    1740px 1972px rgba(255, 255, 255, 0.3),
    1903px 109px rgba(255, 255, 255, 0.3), 288px 370px rgba(255, 255, 255, 0.3),
    1122px 641px rgba(255, 255, 255, 0.3), 421px 898px rgba(255, 255, 255, 0.3),
    1621px 1416px rgba(255, 255, 255, 0.3),
    871px 1491px rgba(255, 255, 255, 0.3), 967px 1359px rgba(255, 255, 255, 0.3),
    620px 562px rgba(255, 255, 255, 0.3), 1961px 1397px rgba(255, 255, 255, 0.3),
    1011px 798px rgba(255, 255, 255, 0.3), 261px 1825px rgba(255, 255, 255, 0.3),
    47px 43px rgba(255, 255, 255, 0.3), 254px 1932px rgba(255, 255, 255, 0.3),
    225px 474px rgba(255, 255, 255, 0.3), 50px 1688px rgba(255, 255, 255, 0.3),
    1780px 237px rgba(255, 255, 255, 0.3), 1115px 243px rgba(255, 255, 255, 0.3),
    1360px 1541px rgba(255, 255, 255, 0.3), 217px 823px rgba(255, 255, 255, 0.3),
    1543px 1101px rgba(255, 255, 255, 0.3),
    791px 1725px rgba(255, 255, 255, 0.3),
    1322px 1774px rgba(255, 255, 255, 0.3),
    1313px 648px rgba(255, 255, 255, 0.3),
    1298px 1253px rgba(255, 255, 255, 0.3), 717px 399px rgba(255, 255, 255, 0.3),
    517px 1329px rgba(255, 255, 255, 0.3),
    1444px 1926px rgba(255, 255, 255, 0.3),
    1251px 877px rgba(255, 255, 255, 0.3), 1738px 375px rgba(255, 255, 255, 0.3),
    1022px 1373px rgba(255, 255, 255, 0.3),
    196px 1037px rgba(255, 255, 255, 0.3), 1194px 764px rgba(255, 255, 255, 0.3),
    1394px 1170px rgba(255, 255, 255, 0.3),
    1820px 469px rgba(255, 255, 255, 0.3), 604px 392px rgba(255, 255, 255, 0.3),
    1314px 1383px rgba(255, 255, 255, 0.3),
    129px 1806px rgba(255, 255, 255, 0.3), 955px 1085px rgba(255, 255, 255, 0.3),
    1135px 1052px rgba(255, 255, 255, 0.3),
    283px 1624px rgba(255, 255, 255, 0.3), 640px 124px rgba(255, 255, 255, 0.3),
    495px 1477px rgba(255, 255, 255, 0.3),
    1711px 1002px rgba(255, 255, 255, 0.3),
    1642px 1325px rgba(255, 255, 255, 0.3), 707px 579px rgba(255, 255, 255, 0.3),
    1682px 1857px rgba(255, 255, 255, 0.3), 142px 944px rgba(255, 255, 255, 0.3),
    491px 1070px rgba(255, 255, 255, 0.3), 1521px 207px rgba(255, 255, 255, 0.3),
    427px 377px rgba(255, 255, 255, 0.3), 903px 476px rgba(255, 255, 255, 0.3),
    51px 606px rgba(255, 255, 255, 0.3), 786px 128px rgba(255, 255, 255, 0.3),
    1609px 492px rgba(255, 255, 255, 0.3), 594px 1416px rgba(255, 255, 255, 0.3),
    199px 984px rgba(255, 255, 255, 0.3), 560px 1655px rgba(255, 255, 255, 0.3),
    349px 387px rgba(255, 255, 255, 0.3), 120px 267px rgba(255, 255, 255, 0.3),
    127px 400px rgba(255, 255, 255, 0.3), 989px 223px rgba(255, 255, 255, 0.3),
    1210px 883px rgba(255, 255, 255, 0.3), 1026px 43px rgba(255, 255, 255, 0.3),
    992px 1318px rgba(255, 255, 255, 0.3), 534px 1063px rgba(255, 255, 255, 0.3),
    50px 1041px rgba(255, 255, 255, 0.3), 1194px 227px rgba(255, 255, 255, 0.3),
    1098px 633px rgba(255, 255, 255, 0.3), 1731px 108px rgba(255, 255, 255, 0.3),
    1431px 1574px rgba(255, 255, 255, 0.3),
    988px 1290px rgba(255, 255, 255, 0.3),
    1972px 1722px rgba(255, 255, 255, 0.3), 127px 653px rgba(255, 255, 255, 0.3),
    1641px 1844px rgba(255, 255, 255, 0.3),
    1634px 1862px rgba(255, 255, 255, 0.3), 641px 136px rgba(255, 255, 255, 0.3),
    175px 15px rgba(255, 255, 255, 0.3), 68px 314px rgba(255, 255, 255, 0.3),
    1031px 165px rgba(255, 255, 255, 0.3), 41px 856px rgba(255, 255, 255, 0.3),
    700px 1535px rgba(255, 255, 255, 0.3);
  height: 2px;
  width: 2px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
